body {}

code {}


.todo-category {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 70%;
}

.action-category {
  font-size: 11px;
  padding: 4px;
  border-radius: 5px;
  margin-left: 10px;
}